extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 M. Blake Burroughs Sr.

        
        p.lead.text-light
          | Full Stack JavaScript Developer, IT Guy, and Life-Long Learner

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi! I am looking for a part-time to full-time position as a junior front-end web developer. I have been designing websites as a subset of my small IT business for almost 10 years, and as such, would say experience is probably my strongest quality. Please be sure to check out the rest of this site for a more complete understanding of my background.
            | I have experience in all front-end aspects, including basic Express and React development. I am currently enriching my knowledge online by taking a Full Stack JavaScript course from Treehouse, and have completed the same with Codecademy as well.
            | I am proficient in not only HTML, CSS and JS, but also in the optimization of each. Check out the 'My Websites' page for more. Thanks, and I hope we can get together to chat further.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Computer Repair and IT
          li WordPress
          li Search Engine Optimization
          li Website Speed Optimization
          li Synergetic Problem Solving
          li Front End Development 
          li Learning APIs and Back-End
        h6 Contact Info

        //- Add your own contact info
        ul
          li 918-729-7462
          li blake@computersolution.tech

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='/') My Projects
        a.button.expanded(href='https://github.com/burro1220' target="_blank") GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  